* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fffefe;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(32, 30, 28);
}

section {
  padding: 20px;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

p {
  color: #fffefe;
}

ol {
  padding: 20px;
  border: dashed rgb(178, 188, 221);
  margin: 4px 0px 4px 0px;
  border-radius: 25px 10px;
  width: fit-content;
}

li{
  padding: 4px;
  margin-left: 4px;
}

.intro{
  margin: 10px 0px 10px 0px;

}
