* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #a52a2a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
  padding: 20px;
}

.justice {
  font-size: 50px;
  margin-bottom: 20px;
  color: #000000;
}

.paragrapgh {
  color: #000000;
}

ol {
  padding: 20px;
}
