* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #a52a2a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
  padding: 20px;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

p {
  color: #8b4242;
}

ol {
  padding: 20px;
}

.finney {
  color: #008000;
}